body{
    font-family: 'Source code pro',Calibri, serif;
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    background-color: #424558 ;
}
nav > ul {
    margin: 0px;
    padding: 0px;
}

nav > ul::after {
content: attr();
display: block;
clear: both;
}
nav > ul > li {
   float: left;
   position: relative;
}
nav > ul >li > a{
  padding: 20px 30px;
  color: #FFF;  
}
nav li {
    list-style-type: none;
}
.submenu {
    display: none;
}
nav a {
    display: none;
text-decoration: none;
}



